---
export const prerender = false;

import Layout from "../../layouts/PublicLayout.astro";

const id = Astro.params.id;

let article = {};
try {
  const res = await fetch(`/api/articles/get?id=${id}`);
  article = await res.json();
} catch (e) {
  console.error("Failed to load article:", e);
}
---

<Layout title={article.title}>
  <h1>{article.title}</h1>

  <article set:html={article.content}></article>
</Layout>
