---
const response = await fetch("https://zajda-web.pages.dev/api/sections");
const data = await response.json();

const section = data.sections.find(s => s.slug === "projekty");
---

<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <title>{section.name}</title>
  </head>

  <body>
    <h1>{section.name}</h1>
    <p>Zde budou projekty…</p>
  </body>
</html>
