---
import Base from "../../../layouts/base.astro";
---

<Base title="USA 2026 – Přehled">
  <h1>USA 2026 – Cestovní deník</h1>

  <p>Vyber deník:</p>

  <ul>
    <li><a href="/cestovani/usa2026/usa2026-den01">Den 1</a></li>
    <li><a href="/cestovani/usa2026/usa2026-den02">Den 2</a></li>
  </ul>
</Base>
