---
import Base from "../layouts/base.astro";
---

<Base title="Moje diagnóza: můj vesmír">
  <h2 class="text-2xl font-bold mb-4">Vítej na mém webu</h2>

  <ul class="space-y-2">
    <li><a href="/clanky">📚 Články</a></li>
    <li><a href="/cestovani">🌍 Cestování</a></li>
    <li><a href="/galerie">📸 Fotogalerie</a></li>
    <li><a href="/o-mne">👤 O mně</a></li>
  </ul>
</Base>
