---
const { title } = Astro.props;
---

<html lang="cs">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <link rel="stylesheet" href="/src/styles/admin.css" />
  </head>

  <body>
    <div class="admin-container">
      <slot />
    </div>
  </body>
</html>
