---
import AdminLayout from "../../layouts/AdminLayout.astro";
---

<AdminLayout title="Admin">
  <h1>Admin dashboard</h1>

  <p>Jsi přihlášený jako admin.</p>

  <ul>
    <li><a href="/admin/articles">Správa článků</a></li>
    <li><a href="/admin/upload">Nahrát obrázek</a></li>
  </ul>
</AdminLayout>
