---
import AdminLayout from "../../layouts/AdminLayout.astro";
---

<AdminLayout title="Admin – Dashboard">
  <h1>Admin – Dashboard</h1>
  <p>Jsi přihlášen. Token: {localStorage.getItem("admin_token")}</p>

  <script>
    console.log("Dashboard – JS běží");
  </script>
</AdminLayout>
