---
import Layout from "../../layouts/Layout.astro";

if (!import.meta.env.SSR) {
  const token = localStorage.getItem("admin_token");
  if (!token) {
    window.location.href = "/admin/login";
  }
}
---

<Layout title="Sekce">
  <h1>Správa sekcí</h1>
  <p>Zde můžeš upravovat strukturu sekcí webu.</p>
</Layout>
